<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<h1>First Half</h1>
		</div>
		<div class="col-sm-4">
			<h1>Second Half</h1>
		</div>
		<div class="col-sm-4">
			<h1>Third Half</h1>
		</div>
	</div>
</div>