<!DOCTYPE html>
<html>
	<head>
		<title>SmallRailsApp</title>
		<meta charset="UTF-8">
		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag 'application' %>
		<%= javascript_include_tag 'application' %>
	</head>
	<body>
		<%= yield %>
	</body>
</html>